[Unit]
Description=rebuilderd-worker: rebuild packages

[Service]
User=rebuilderd-worker
ExecStart=/usr/bin/rebuilderd-worker -n %i connect

# Force the stdout and stderr of fedora-repro-build to be unbuffered
Environment=PYTHONUNBUFFERED=1

ProtectSystem=strict
PrivateTmp=yes
ReadWritePaths=/var/lib/rebuilderd-worker /var/lib/mock /var/cache/mock

CPUSchedulingPolicy=idle
IOSchedulingClass=3

Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
